* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



body {
  background: #2f2e37;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}



body .calculator {
  width: 400px;
  border: 1px solid #756d6d;
  border-radius: 3px;
  /* height: 500px; */
  padding: 12px 10px;
  border-radius: 20px 20px 0px 0px; 
  box-shadow: 0px -1px 8px 2px #756d6d;
}


.calculator .hair-layer{
    width: 100%;
    /* border: 1px solid white; */
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 0px;
}
.calculator .hair{
    width: 25%;
    border: 1px solid #655f5f;
    height: 20px;
    border-radius: 2px 2px 20px 20px;
    box-shadow: inset 0px 0px 6px 0px #a09a9a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator .hair .block{
    border: 3px solid rgb(122, 116, 116);
    width:50%;
    border-radius: 4px;
}

.calculator p{text-align: center;
    padding: 5px;
    color: white;
    font-family: monospace;

}

body .calculator .screen{
    padding: 5px;
    margin: 0px 0px;
    border-bottom: 1px dotted yellow;
}






body .calculator input{
    width: 100%;
    height: auto;
    padding: 10px 30px;
    border-radius: 50px;
    text-align: right;
    outline: none;
    border: none;
    font-size: 2rem;
    background: none;
    color: yellow;
    /* border: 1px dotted yellow; */
}



/* .solar-layer{
    width: 100%;
    margin-top: .8rem;
    display: block;
}
.solar-layer .solar{
    width:30%;
    float: right;
    border: 1px solid white;
    margin: 0px 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.solar .block{
    width: 25%;
    height:30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
 */



body .calculator .keyboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0px;
}





body .keyboard button{
    width: 70px;
    /* height: 70px; */
    height: 50px;
    /* border-radius: 50%; */
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: yellow;
    background: #20192d;
    border: 1px solid #c8c859c7;
    cursor: pointer;
    box-shadow: 0px 0px 13px white;
    box-shadow: -2px -2px 5px 1px #ffffff70;
    transition: .5s;
}
.eqlbtn{
    width: 155px !important;
    background: rgb(221, 221, 13) !important;
    color: black !important;
    /* border:1px solid black !important; */
}
.symbol{
    background: white !important;
    color: black !important;
    /* border:1px solid black !important; */
}


body .keyboard button:hover{
    box-shadow: -4px -2px 10px 3px #ffffffa3;
}


body .keyboard button:active{
    transform: scale(0.5,0.5);
    font-size: 1.3rem;
}